@model  TwilloSuccessOtp.Models.Login.Login
@{
    ViewBag.Title = "Login";
}

<html>
<head>
    <style>
        .raju{
            padding:10px;
        }
        .maindiv{
            margin-left:300px;
            margin-top:150px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="maindiv">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                if (ViewBag.Message != "")
                {
                    <div class="text-danger">@ViewBag.Message</div>
                }
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="raju">
                    <label>UserName</label>
                    @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
                <div class="raju">
                    <label>Password</label>
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", Type = "password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="raju">
                    <input type="submit" value="Login" class="btn btn-success" />
                </div>
                <div>
                    <a href="/Login/ForgotPassword"> Forgot Password ?</a>
                </div>
            }
        </div>
    </div>
</body>
</html>

